body {
  margin: 0px;
  background-color: rgb(56, 33, 158);
  // color: black;
  font-family: Noto Sans, 'sans-serif';
  outline: none;

}

#gifheader {
  margin: 0px;
 
  color: white;
  font-size: 8em;
  text-align: center;
  position: absolute;
  top:40%;
  left: 20%;
  font-family: Noto Sans, 'sans-serif';
  outline: none;

}

button:hover {
    cursor: pointer;
}

.node-key {
  font-weight: bolder;
  text-align: center;
  padding: 3px;
  font-size: 1.3em;
}

hr{
  padding: 0px;
  margin: 0px;
  border-color: rgba(0, 0, 0, 0.75); 
}

.topButtons {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    margin-right: 20px;
    background-color: rgb(56, 33, 158);
}

#docs {
  color: white;
  padding: 30px;
  text-decoration: none;
  width: 40vw;
  position: absolute;
  margin-left: 20px;
  margin-right: auto;
}

#textlink {
  text-decoration: underline;
  color: white;
}
#gif {
display: flex;
width: 50vw; 
margin-left: auto;
margin-right: auto;
align-self: center;
justify-self: center;
}

.topButtons button {
    // margin: 0 10px 10px 0px;
    // border: 3px solid silver;
    // border-radius: 15px;
    // background-color: #4c00ff;
    // color: white;
    // font-size: 20px;
    // padding: 10px;
    // width: 150px;
    display:inline-block;
    padding:1em 1.2em;
    border:0.1em solid #FFFFFF;
    background-color: rgb(56, 33, 158);
    margin:0 1em .5em 1em;
    font-size: 1em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
#choiceButton{
  margin-right: 80%;
}

#Selection {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 20%;
  left: 70px;
  top: 195px;
}

#Selection button {
  display:inline-block;
  border:0.1em solid #FFFFFF;
  background-color: whitesmoke;
  margin:0 0.2em .2em .2em;
  font-size: 1em;
  border-radius:0.12em;
  width: 30%;
  // box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: rgb(56, 33, 158);
  text-align:center;
  transition: all 0.2s solid black;
}
#OutputBox{
  display: flex;
}
#outputRight{
 right: 30px;
}
#outputLeft{
  justify-self: flex-start;
 }
#codebox{
  display: flex;
  position: absolute;
  top: 210px;
  width: 23%;
  height: auto;
  left: 10px;
  justify-content: flex-start;
  margin: 10px;
  // bottom: 50px
}

#outlined-multiline-static {
  color: whitesmoke;
}
#outlined-multiline-static-label {
  color: white;
  border-color: white;
}

.PrivateNotchedOutline-root-2 {
  color: white;
  border:0.1em solid #FFFFFF;
}

#erdbackground {
  display: flex;
  position: absolute;
  border: 1px solid #FFFFFF;
}

.MuiOutlinedInput-notchedOutline {
  color: white;
  border:0.1em solid #FFFFFF;
}

.MuiInputBase-root .MuiOutlinedInput-input .MuiInputBase-inputMultiline .MuiOutlinedInput-inputMultiline {
  color: white;
  border-color: white;
  border:0.1em solid #FFFFFF;
}

legend, fieldset {
  color: white;
}

#uribox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 1px;
}

#demo-simple-select-filled-label {
  color: whitesmoke
}

input, select, textarea{
  color: grey;
}

#filled-basic {
  color: purple;
  background-color:lightgray;
  border-radius: 5px;
}
.MuiSelect-nativeInput {
  color: white;
}

.MuiFilledInput-input {
  color: white;
  background-color: white;
}

#logo {
  height: 150px;
  position: absolute;
  top: 20px;
  left: 40px;
}

.topbuttons button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

.leftButtons {
    display: flex;
    justify-content: flex-start;
}

.rightButtons { 
    display: flex;
    justify-content: flex-end;
}

.header h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.wrapper__ON_ChoiceBox {
  height: 240px;
  width: 450px;
  margin: auto;
}

.wrapper_on_table {
  width: 450px;
  margin: auto;
  border: 3px solid #00d8ff;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#together {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.wrapper__ON_ChoiceBox h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
// HISTORY text is here ^

.wrapperChoicebox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 450px;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.wrapperChoicebox select {
    border: 2px solid #00d8ff;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
    width: 180px;
    height: 45px;
    text-align-last: center;
    background:rgba(250, 250, 250, 0.2);
    color: rgba(128, 128, 128, 1);

}

select:focus, input:focus {
    outline: none;
}

.wrapperChoiceBox option {
    font-size: 40px;
}

.c1test {
    margin-right: 0px;
}

.Outsider {
  margin: auto;
}

.wrapper {
  width: 400px;
  height: 300px;
  border: 4px solid #00d8ff;
  border-radius: 25px;
  margin: auto;
  font-size: 24px;
  text-align: justify;
}

.currency1, .currency2, .defaultcurr {
    align-items: flex-start;
    margin: 0 20px;
    font-family: Noto Sans, 'sans-serif';
    font-size: large;
}



.wrapper2 {
  width: 700px;
  height: 415px;
  margin: auto;
  font-size: 14px;
  text-align: justify;
}

.Inner_wrapper {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}


.wrapperInput {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.wrapperInput input {
    display: flex;
    justify-content: center;
    text-align: center;
}

.CurrToConvert {
    padding-left: 10px;
}
.convertedAmount {
  width: 400px;
  height: 300px;
  margin: auto;
}

.convertedAmount {
    margin-top: 80px;
}

.inputAmount {
  font-size: 25px;
  border: 3px solid #00d8ff;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 60px;
  background-color: rgba(250, 250, 250, 0.2);
}

.amountDisplay, .inputDisplay {
    display: flex;
    justify-content: center;
}

.Outputer {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.graph {
  margin: auto;
}

// .build {
//     height: 500px;
//     border: 2px solid black;
// }

.butt {
    display: flex;
    justify-content: center;
}

.butt button {
    margin: 0 30px 50px 0px;
    border: 3px solid #00d8ff;
    border-radius: 15px;
    background-color: #00d8ff;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 150px;
}

.button2 button {
  margin: 0 20px 20px 10px;
  border: 3px solid #00d8ff;
  border-radius: 15px;
  background-color: #00d8ff;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 150px;
}

.Title{
  justify-content: center;
}

#top{
  display: flex;
}
#bottom{
  display: flex;
}

#title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  // position:absolute;
}
#topRow {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
#bottomRow {
  display: flex;
  justify-content: center;
  //align-content: center;
}
// .middle{
//   border-left: 2px solid #FFFFFF;
// }
#teams {
  justify-self: center;
}
#Adam {
  font-size: large;
  padding-right: 30%;
  align-content: center;
}
#Brian {
  font-size: large;
  align-content: center;

}
#Marc{
  padding-right: 30%;
  font-size: large;
  align-content: center;
}
#Eric{
  font-size: large;
  font-size: large;
  align-content: center;
}
a{
  color: white;
}
#linebreaks{
  margin: 0; padding: 0; list-style: none;
}